<template>
  <header>
    <h3>{{ title }}</h3>
  </header>
</template>

<script>
export default {
  data () {
    return {
      'title': 'Header Vue Ninjas'
    }
  }
}
</script>


<style scoped>
header{
  background: lightgreen;
  padding: 10px;
}
h3{
  text-align: center;
  color: #222;
}
</style>
