<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>VueJs Tutorial</title>
    <link rel="stylesheet" href="styles.css">
    <script src="https://unpkg.com/vue"></script>
  </head>
  <body>
    <div id="vue-app">
      <!-- bag image -->
      <div id="bag" v-bind:class="{burst: ended}">
      </div>
      <!-- bag health -->
      <div id="bag-health">
        <div v-bind:style="{width: health + '%'}">{{ health }}</div>
      </div>
      <!-- Game control -->
      <div id="controls">
        <button type="button" v-on:click="punch" v-show="!ended">Punch</button>
        <button type="button" v-on:click="restart">Restart</button>
      </div>
    </div>

  <script type="text/javascript" src="app.js"></script>

  </script>
  </body>
</html>
