#vue-app {
  margin-bottom: 50px;
}
span {
  background: red;
  display: inline-block;
  padding: 10px;
  color: #fff;
  margin: 10px 0;
}
.available span{
  background: green;
}
.nearby span:after{
  content: "nearby";
  margin-left: 10px;
}

/* 13 */
#bag{
  width: 200px;
  height: 500px;
  margin: 0 auto;
  background: url(/img/bag.png) center no-repeat;
  background-size: 80%;
}
#bag.burst{
  background: url(/img/bag-burst.png) center no-repeat;
  background-size: 80%;
}
#bag-health{
  width: 200px;
  border: 2px solid #000;
  margin: 0 auto 20px auto;
}
#bag-health div{
  height: 20px;
  background: crimson;
}
#controls{
  width: 150px;
  margin: 0 auto;
}
